@model List<Education>
@{
    ViewData["Title"] = "Eğitim Bilgileri";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h1>Eğitim Bilgileri</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Eğitim Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Okul Adı
            </th>
            <th>
                Bölüm
            </th>
            <th>
                Başlangıç Yılı
            </th>
            <th>
                Bitiş Yılı
            </th>
            <th>
                Açıklama
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.EducationId" class="btn btn-warning btn-sm">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@item.EducationId" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
