@model ResumeViewModel
@*
    Default Resume Component
*@
<section id="resume" class="resume section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Kısa Bir Bakış</h2>
        <p>Eğitim ve deneyimlerim hakkında daha detaylı bilgiye aşağıdan ulaşabilirsiniz</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                @if (Model.AboutInfo != null)
                {
                    <h3 class="resume-title">Özet</h3>
                    <div class="resume-item pb-0">
                        <h4>@Model.AboutInfo.Title</h4>
                        <p><em>@Model.AboutInfo.Description</em></p>
                        <ul>
                            <li>@Model.AboutInfo.City</li>
                            <li>@Model.AboutInfo.PhoneNumber</li>
                            <li>@Model.AboutInfo.Email</li>
                        </ul>
                    </div>
                }

                <h3 class="resume-title">Eğitim</h3>
                @foreach (var item in Model.Educations)
                {
                    <div class="resume-item">
                        <h4>@item.Department</h4>
                        <h5>@item.StartYear - @item.EndYear</h5>
                        <p><em>@item.SchoolName</em></p>
                        <p>@item.Description</p>
                    </div>
                }
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Profesyonel Deneyim</h3>
                @foreach (var item in Model.Experiences)
                {
                    <div class="resume-item">
                        <h4>@item.Title</h4>
                        <h5>@item.StartYear - @(string.IsNullOrEmpty(item.EndYear) ? "Devam Ediyor" : item.EndYear)</h5>
                        <p><em>@item.Company, @item.City</em></p>
                        <p>@item.Description</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>